<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>借款人信息</title>
</head>
<body>
<table>
    <tr>
        <td>序列id</td>
        <td>姓名</td>
        <td>性别</td>
        <td>电话</td>
        <td>金额</td>
    </tr>
    <tr th:each="borrower:${borrowers}">
        <td th:text="${borrower.id}">序列id</td>
        <td th:text="${borrower.name}">姓名</td>
        <td th:text="${borrower.sex==1?'男':'女'}">性别</td>
        <td th:text="${borrower.phone}">电话</td>
        <td th:text="${borrower.money}">金额</td>
        <td>
            <span th:if="${borrower.filePath==null || borrower.filePath==''}">
                <a th:href="@{|/upload/${borrower.id}|}">上传</a>
            </span>
            <span th:if="${borrower.filePath!=null && borrower.filePath!=''}">
                <a th:href="@{|/download|}">下载</a>
                <a th:href="@{|/delete|}">删除</a>
            </span>
        </td>
    </tr>
</table>
</body>
</html>